@model Product

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.Name
            </h6>

            <img class="img-fluid shadow rounded-3 my-3" src="@Model?.ImageUrl" alt="@Model.Name">
            
            <p class="lead text-danger">@Model.Price.ToString("C")</p>
        </div>
    </div>
</div>

<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Products</a>
    <a class="btn btn-outline-light" asp-controller="Home" asp-action="Index">Home</a>
</div>


@section Header
{
    <div>
        Header for Only Get
    </div>
}